<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <test name="Test Cases" preserve-order="true">
        <classes>
            <class name="com.github.yt.auto.example.cases.FeatureA"/>
            <class name="com.github.yt.auto.example.cases.FeatureB"/>
        </classes>
    </test>
</suite>